<div>
    <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
        <iframe id = "player" type="text/html" frameborder="0" height="100%" width="100%" 
            ng-src="{{escapedUrl}}">
        </iframe>
    </div>
    <div id="questionhint">
        This is the question
    </div>
    <div id="authority">
        Type authority here
    </div>
    <div id="answer">
        <label><input type="radio" ng-model="answer.one" value="correct">Correct answer for story {{sceneInfo.storynumber}} question {{sceneInfo.scenenumber}}</label><br/>
        <label><input type="radio" ng-model="answer.two" value="incorrect">Incorrect answer</label><br/>
    </div>
</div>